<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" id="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cashbox" id="cashbox">
      <ion-icon name="logo-euro"></ion-icon>
      <ion-label>Cashbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes" id="notes">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" id="settings">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
