<ion-header>
  <ion-toolbar>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadNotes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let note of notes">
    <ion-card-header>
      <ion-card-subtitle>By {{ note.author }}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ note.note }}
    </ion-card-content>
  </ion-card>
</ion-content>
