<ion-header>
  <ion-toolbar>
      <ion-title>Notes</ion-title>
      <ion-button id="newNotes_button" color="primary" slot="end" (click)="addNote()">
          <ion-icon name="add"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadNotes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let note of notes">

    <ion-card-header color="light">
        <ion-card-subtitle><b>{{ note.username }}</b>, {{ note.timestamp | date : "y, MMMM d, h:mm a" : '+0400' }}
            <ion-button color="medium" float-right (click)="deleteMessage(note.id)">
                <ion-icon name="trash" float-right></ion-icon>
            </ion-button>
        </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{ note.note }}
        <ion-icon *ngIf=note.offline class="isOffline" name="sync" size="small" float-left></ion-icon>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer *ngIf="newMessageButton">
  <ion-toolbar>
        <ion-item>
          <ion-input type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
          <ion-button color="primary" (click)="sendMessage()" [disabled]="message ===''">Send</ion-button>
        </ion-item>
  </ion-toolbar>
</ion-footer>
