<ion-header>
  <ion-toolbar>
      <ion-title>Notes</ion-title>
      <ion-button fill="outline" slot="end" (click)="addNote()">new note</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadNotes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let note of notes">

    <ion-card-header color="light">
      <ion-card-subtitle>By {{ note.username }}, {{ note.timestamp }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>{{ note.note }}</ion-card-content>

  </ion-card>

</ion-content>

<ion-footer *ngIf="newMessageButton">
  <ion-toolbar>
        <ion-item>
          <ion-input type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
          <ion-button color="primary" (click)="sendMessage()" [disabled]="message ===''">Send</ion-button>
        </ion-item>
  </ion-toolbar>
</ion-footer>
